
@{
    ViewBag.Title = "Gestion Entregas";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    if (ViewBag.Role == "F")
    {
        <script type="text/javascript">
            alert("Rol de usuario no tiene permiso para esta opcion...");
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <a href="@Url.Action("GetEntregasFechas", "MIPRES")" class="btn_mnu">Entregas x Fecha</a>
    <a href="@Url.Action("GetPrescripcionEntrega", "MIPRES")" class="btn_mnu">Entregas x Prescripcion</a>
    @*<a href="@Url.Action("PutAnularNoEntrega", "MIPRES")" class="btn_mnu">Anulacion de Entregas</a>*@
</div>
<div class="jumbotron">
    <img src="~/Content/images/GrupoEmpresarial_vertical-01.png" style="height:180px;" class="img-responsive center-block" alt="" />
    <p class="lead text-center">Portal Web para las I.P.S. del Grupo Empresarial Campbell.</p>
    <p><a href="http://grupocampbell.com" class="btn btn-primary btn-lg" target="_blank">Nosotros &raquo;</a></p>
</div>

